.blog-post-container {
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  margin: 20px;
  padding: 30px;

  -webkit-box-shadow: 7px 7px 24px -6px rgba(0,0,0,0.75);
  -moz-box-shadow: 7px 7px 24px -6px rgba(0,0,0,0.75);
  box-shadow: 7px 7px 24px -6px rgba(0,0,0,0.75);

  .title {
    font-size: 30px;
    font-family: Helvetica Neue;
    font-weight: 900;
    margin-bottom: 7px;
  }

  .description {
    margin-bottom: 10px;
  }

  .footer {
    display: flex;
    color: #737373;
    .date {
    }
    .author {
      align-self: flex-end;
      padding-bottom: 7px;
      margin-left: 5px;
    }
  }

}
